.site-playground {
  header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    box-shadow: 0 2px 8px 0 rgba(0, 35, 144, 10%);
    position: relative;
    z-index: 2000;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    .editor {
      height: 900px;
    }
  }
}