@import '~/css/var.scss';
@import '~/css/mixin.scss';
@import '~/css/global.scss';

.bangumiDetail {
  display: flex;
  justify-content: center;
  .main {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    .left {
      .bangumi {
        width: 350px;
        // height: 340px;
        border-radius: 4px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
      }
      .collection {
        color: $primaryColor;
      }
      .detail {
        display: flex;
        width: 100%;
        .title {
          font-size: 30px;
          font-family: OPPOSans;
          font-weight: bold;
          line-height: 40px;
        }
        ul {
          margin-left: 40px;
          li {
            margin-bottom: 15px;
            font-size: 15px;
            display: flex;
            // width:;
            span {
              &:nth-child(1) {
                width: 90px;
              }
            }
            .tag {
              span {
                margin-right: 10px;
              }
            }
            .update {
              span {
                &:nth-of-type(1) {
                  font-size: 12px;
                  margin-right: 20px;
                }
              }
            }
            &:nth-last-of-type(1) {
              h3 {
                width: 90px;
                // font-size: 20px;
                // font-weight: bold;
                line-height: 26px;
                margin-bottom: 15px;
                display: table;
              }
              span {
                @include ellipse(5)
              }
            }
          }
        }
      }
      .quarter {
        margin: 50px 0 23px 0;
        span {
          font-size: 15px;
          line-height: 20px;
          margin-right: 26px;
          position: relative;
          cursor: pointer;
        }
        .active {
          font-weight: bold;
          color: $primaryColor;
          &:after {
            content: '';
            width: 19px;
            height: 3px;
            background: $primaryColor;
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            margin: 0 auto;
            border-radius: 14px;
          }
        }
      }
      .episode {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        li {
          display: flex;
          background: #e8e8e8;
          padding: 5px 20px;
          // color: white;
          margin-right: 19px;
          border-radius: 15px;
          margin-bottom: 18px;
          cursor: pointer;
        }
        .episodeActive {
          background: $primaryColor;
          color: white;
        }
        span {
          margin-right: 5px;
          &:nth-last-of-type(1) {
            margin-right: 0;
          }
        }
      }
      // 相关推荐
      .recommend {
        h2 {
          font-size: 20px;
          // font-family: OPPOSans;
          font-weight: bold;
          line-height: 26px;
          margin-top: 23px;
          margin-bottom: 27px;
        }
        .list {
          .listItem {
            img {
              width: 100%;
            }
            span {
              font-weight: 400;
              &:nth-of-type(1) {
                font-size: 16px;
                line-height: 21px;
                margin-top: 8px;
                @include ellipse(2)
              }
              &:nth-of-type(2) {
                font-size: 12px;
                margin-top: 5px;
                
              }
            }
            .new {
              color: #48B1F5;
            }
          }
        }
      }
      
    }
    .right {
      width: 392px;
      // border: 2px solid blue;
      section {
        padding: 22px 28px;
        border-radius: 15px;
        margin-bottom: 23px;
        background: #e8e8e8;
        h2 {
          font-size: 20px;
          font-weight: bold;
          line-height: 26px;
          margin-bottom: 15px;
        }
        ul {
          li {
            font-size: 15px;
            margin-bottom: 15px;
            &:nth-last-child(1) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

:global {
  .detail {
    .ant-col {
      display: flex;
      flex: 1;
    }
  }
}