

.otaku-api-container {
    background: white;
    padding: 10px;
    .otaku-code-container {
        border-top: none;
        padding-top: 0;
       
    }
    .otaku-table-row {
        td:nth-of-type(3) div {
            // background: red;
            color: #a31515;
            font-family: Consolas, Monaco, monospace;
        }
    }
}

.otaku-table-api {
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table td, th {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    tr {
        td:nth-of-type(3) {
            width: 300px;
            color: #a31515;
        }
    }

    th, td {
        padding: 10px;
        // color: #898989;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
    }
}