.color {
  background-color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

ul {
  li {
    height: 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
}