.logo {
  width: 176px;
  height: 43px;
  font-size: 40px;
  font-family: STXihei;
  font-weight: 400;
  line-height: 55px;
  color: rgba(255,255,255,1);
  -webkit-text-stroke: 1 rgba(255,255,255,1);
  text-stroke: 1 rgba(255,255,255,1);
}