
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .design-demo {
    width: 1000px;
    margin: 24px auto 0;
  }

  .design-demo h1 {
    font-size: 32px;
  }

  .design-demo__des {
    margin: 8px 0 16px 0;
    font-size: 14px;
    color: #666;
  }

  .design-demo__nav {
    position: relative;
  }
  
  .design-demo__nav-project {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 42px;
    line-height: 42px;
    color: #666;
  }
  
  ul#tabs {
    margin-top: 24px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #eee;
  }
  
  #tabs li {
    cursor: pointer;
    height: 50px;
    width: 125px;
    
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #999;
    border-bottom: 4px solid transparent;
  }
  
  #tabs li.active {
    font-weight: bold;
    border-bottom-color: #3782FF;
    color: #333;
  }
  
  /* 页面布局
  .main {
    padding: 30px 100px;
    width: 960px;
    margin: 0 auto;
  }
  
  .main .logo {
    color: #333;
    text-align: left;
    margin-bottom: 30px;
    line-height: 1;
    height: 110px;
    margin-top: -50px;
    overflow: hidden;
    *zoom: 1;
  }
  
  .main .logo a {
    font-size: 160px;
    color: #333;
  }
  
  .helps {
    margin-top: 40px;
  }
  
  .helps pre {
    padding: 20px;
    margin: 10px 0;
    border: solid 1px #e7e1cd;
    background-color: #fffdef;
    overflow: auto;
  }
   */

   .design-demo__container {
    display: none;
  }
  .design-demo__container.active {
    display: block;
  }

  ul.design-demo__icon-lists {
    width: 100%;
    overflow: hidden;
    clear: both;
  }
  
  li.design-demo__icon-item {
    float: left;
    display: flex;
    flex-direction: column;
    width: 125px;
    height: 135px;
    margin: 0;
    padding: 24px 6px;
    margin-top: 8px;

    text-align: center;
    font-size: 14px;
    color: #666;
  }

  li.design-demo__icon-item:hover {
    background: #eef4ff;;
  }

  li.design-demo__icon-item .icon {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    margin: 0 auto;
    color: #333;
    cursor: default;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }

   li.design-demo__icon-item:hover .icon {
    font-size: 40px;
  }

  li.design-demo__icon-item .name,
  li.design-demo__icon-item .code-name{
    font-size: 14px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .icon_lists .svg-icon {
    /* 通过设置 font-size 来改变图标大小 */
    width: 1em;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
    fill: currentColor;
    /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
        normalize.css 中也包含这行 */
    overflow: hidden;
  }
  


  /* markdown 样式 */
  .markdown {
    color: #666;
    font-size: 14px;
    line-height: 1.8;
  }
  
  .highlight {
    line-height: 1.5;
  }
  
  .markdown img {
    vertical-align: middle;
    max-width: 100%;
  }
  
  .markdown h1 {
    color: #404040;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 24px;
  }
  
  .markdown h2,
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    color: #404040;
    margin: 1.6em 0 0.6em 0;
    font-weight: 500;
    clear: both;
  }
  
  .markdown h1 {
    font-size: 28px;
  }
  
  .markdown h2 {
    font-size: 22px;
  }
  
  .markdown h3 {
    font-size: 16px;
  }
  
  .markdown h4 {
    font-size: 14px;
  }
  
  .markdown h5 {
    font-size: 12px;
  }
  
  .markdown h6 {
    font-size: 12px;
  }
  
  .markdown hr {
    height: 1px;
    border: 0;
    background: #e9e9e9;
    margin: 16px 0;
    clear: both;
  }
  
  .markdown p {
    margin: 1em 0;
  }
  
  .markdown>p,
  .markdown>blockquote,
  .markdown>.highlight,
  .markdown>ol,
  .markdown>ul {
    width: 80%;
  }
  
  .markdown ul>li {
    list-style: circle;
  }
  
  .markdown>ul li,
  .markdown blockquote ul>li {
    margin-left: 20px;
    padding-left: 4px;
  }
  
  .markdown>ul li p,
  .markdown>ol li p {
    margin: 0.6em 0;
  }
  
  .markdown ol>li {
    list-style: decimal;
  }
  
  .markdown>ol li,
  .markdown blockquote ol>li {
    margin-left: 20px;
    padding-left: 4px;
  }
  
  .markdown pre {
    background: #fafafa;
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    border-radius: 3px;
    padding: 1em 0;
    line-height: 1em;
  }
  
  .markdown pre code {
    margin: 0 3px;
    padding: 0 5px;
    background: none;
    line-height: 1.2em;
  }
  
  .markdown strong,
  .markdown b {
    font-weight: 600;
  }
  
  .markdown>table {
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
    border: 1px solid #e9e9e9;
    width: 95%;
    margin-bottom: 24px;
  }
  
  .markdown>table th {
    white-space: nowrap;
    color: #333;
    font-weight: 600;
  }
  
  .markdown>table th,
  .markdown>table td {
    border: 1px solid #e9e9e9;
    padding: 8px 16px;
    text-align: left;
  }
  
  .markdown>table th {
    background: #F7F7F7;
  }
  
  .markdown blockquote {
    font-size: 90%;
    color: #999;
    border-left: 4px solid #e9e9e9;
    padding-left: 0.8em;
    margin: 1em 0;
  }
  
  .markdown blockquote p {
    margin: 0;
  }
  
  .markdown .anchor {
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-left: 8px;
  }
  
  .markdown .waiting {
    color: #ccc;
  }
  
  .markdown h1:hover .anchor,
  .markdown h2:hover .anchor,
  .markdown h3:hover .anchor,
  .markdown h4:hover .anchor,
  .markdown h5:hover .anchor,
  .markdown h6:hover .anchor {
    opacity: 1;
    display: inline-block;
  }
  
  .markdown>br,
  .markdown>p>br {
    clear: both;
  }
  
  
  .hljs {
    display: block;
    background: white;
    padding: 0.5em;
    color: #333333;
    overflow-x: auto;
  }
  
  .hljs-comment,
  .hljs-meta {
    color: #969896;
  }
  
  .hljs-string,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-strong,
  .hljs-emphasis,
  .hljs-quote {
    color: #df5000;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-type {
    color: #a71d5d;
  }
  
  .hljs-literal,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-attribute {
    color: #0086b3;
  }
  
  .hljs-section,
  .hljs-name {
    color: #63a35c;
  }
  
  .hljs-tag {
    color: #333333;
  }
  
  .hljs-title,
  .hljs-attr,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo {
    color: #795da3;
  }
  
  .hljs-addition {
    color: #55a532;
    background-color: #eaffea;
  }
  
  .hljs-deletion {
    color: #bd2c00;
    background-color: #ffecec;
  }
  
  .hljs-link {
    text-decoration: underline;
  }
  