
:root {
  // 全局
  --otaku-radius: 8px;
  --otaku-shadow: 0 2px 8px 0 rgba(0, 35, 144, 10%);
  --otaku-primary-color:  #1F4BFF;

  // 表单相关
  --otaku-disabled-color: #f7f7f7;
  --otaku-disabled-border-color: #e5e5e5;
}