$primaryColor: #FF4778;
$small: 32px;
$middle: 36px;
$large: 40px;

:root {
  // 全局
  --radius: 4px;
  --shadow: 0 2px 8px 0 rgba(0, 35, 144, 10%);

  // 表单相关
  --disabled-color: #f7f7f7;
  --disabled-border-color: #e5e5e5;
}