@import '~/css/var.scss';

$menuWidth: 150px;

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  header {
    width: 100%;
    // min-width: 1920px;
    height: 64px;
    display: flex;
    // line-height: 80px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 30px;
    position: relative;
    .title {
      font-size: 36px;
      color: 262626;
      // position: absolute;
      // left: 50px;
    }
    .main {
      min-width: 1400px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto 50px;
    }
    .headerList {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // margin-left: 150px;
      // margin-right: 150px;
      .listItem {
        // margin-right: 10px;
        color: #262626;
        font-weight: 500;
      }
    }
    .userBtn {
      // margin-left: 150px;
    }
    // .search {
    //   width:755px !important;
    //   height:53px;
    //   background:rgba(248,248,248,1);
    //   border-radius:27px;
    //   color: white;
    //   // padding-right: 30px;
    //   border: none;
    // }
  }
}
#main {
  width: 1400px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  border: 2px solid red;
}

:global {
  #root {
    justify-content: center;
    align-items: center;
  }
}
