@import '~/css/var.scss';

:global {
  .loading, .nullData {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .ant-layout {
    background: transparent;
  }
  .ant-layout-header {
    padding: 0;
    color: black;
  }
  // .ant-input {
  //   height: 1px;
  // }
  .ant-form-item-with-help {
    margin-bottom: 20px;
  }
  .ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
    box-shadow: none;
    border-color: #d9d9d9;
  }
  .ant-input-affix-wrapper:hover {
    border-color: #d9d9d9;
  }
  .ant-input-suffix {
    display: flex;
    align-items: center;
  }
  .ant-input-search-large .ant-input-search-button {
    height: 42px;
    margin-left: 0px;
  }
  .ant-switch:focus {
    outline: none;
    box-shadow: none !important;
  }
  
  .ant-input {
    background: white;
    color: black;
    border: 2px solid $primaryColor;
    // border-radius: 20px;
    // border-color: $primaryColor;
    &:focus {
      box-shadow: none;
      border-color: $primaryColor;
    }
    
  }
  .ant-input-search .ant-input:hover, .ant-input-search .ant-input:focus {
    border-color: $primaryColor !important;
  }
  // .ant-input-search-enter-button input:hover, .ant-input-search-enter-button input:focus {
  //   border-color: $primaryColor;
  // }
  // .ant-btn-primary {
  //   height: 100%;
  //   background: $primaryColor;
  //   border-color: $primaryColor;
  //   box-shadow: none;
  // }
  // .ant-btn-primary:hover, .ant-btn-primary:focus {
  //   background: $primaryColor;
  //   border-color: $primaryColor;
    
  // }
  [ant-click-animating-without-extra-node='true']::after, .ant-click-animating-node {
    box-shadow: none;
  }
}
