.b-code-example-container {
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  
  .b-desc, .b-example {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    // border-radius: 4px;
  }
  .b-example {
    & + .b-code {
      border-top: none;
    }
  }
  
}