.otaku-code-example-container {
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  
  .otaku-desc, .otaku-example {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    // border-radius: 4px;
  }
  .otaku-example {
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
      }
    }
    & + .otaku-code {
      border-top: none;
    }
  }
  
}