.b-code-example-container {
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  .b-example {
    padding: 20px;
    border-bottom: 1px solid #f0f0f0;
  }
  .b-code {
    padding: 20px;
    code {
      font-size: 14px;
      font-family: Consolas, Monaco, monospace;
      // white-space: initial;
    }
  }
}